<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Make a Suggestion</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h2>Make a Suggestion</h2>
    <form th:object="${suggestion}" th:action="@{/savesuggestion}" method="post">
        <div>
            <label for="suggestion">Suggestion:</label>
            <input
                type="text"
                id="name"
                th:field="*{name}"
                placeholder="Make a suggestion"
                required
            />
        </div>
        <div>
            <button type="submit">Save Suggestion</button>
        </div>
    </form>

    <p><a th:href="@{/movielist}">Cancel</a></p>
</body>
</html>
