<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Movie List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <h1>Movies</h1>

    <div>
      <span sec:authorize="hasAuthority('ADMIN')">
        Welcome, <span th:text="${#authentication.name}"></span>!
        <a th:href="@{/logout}">Logout</a>
      </span>
      <span sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>
      </span>
    </div>

    <table>
      <tr>
        <th>Title</th>
        <th>Genres</th>
        <th>Director</th>
        <th>Year</th>
        <th>Description</th>
        <th>Review</th>
      </tr>
      <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"></td>
        <td>
          <span
            th:each="genre : ${movie.genre}"
            th:text="${genre.genre} + ' '"
          ></span>
        </td>
        <td th:text="${movie.director}"></td>
        <td th:text="${movie.releaseyear}"></td>
        <td th:text="${movie.description}"></td>
        <td th:text="${movie.review}"></td>
        <td sec:authorize="hasAuthority('ADMIN')">
          <a th:href="@{/delete/{id}(id=${movie.movieid})}">Delete</a>
          <a th:href="@{/edit/{id}(id=${movie.movieid})}">Edit</a>
        </td>
      </tr>
    </table>

    <span sec:authorize="hasAuthority('ADMIN')">
      <button><a href="/addmovie">Add movie</a></button>
    </span>
    <button><a href="/makesuggestion">Make a suggestion!</a></button>
    <button><a href="/suggestionlist">Suggestions</a></button>
    <button><a href="/movierandomizer">Click here for a random movie!</a></button>
  </body>
</html>
