<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Suggestion List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h2>Movie suggestions</h2>
    <table>
        <tr>
            <th>Suggestion</th>
            <th>Status</th>
        </tr>
        <tr th:each="suggestion : ${suggestions}">
            <td th:text="${suggestion.name}"></td>
            <td th:text="${suggestion.status}"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/suggestion/{id}/watched(id=${suggestion.suggestionid})}">Mark as watched</a></td>
        </tr>
    </table>
    <a href="/movielist">Back to Movie List</a>
</body>
</html>
